.inner-header {
  text-align: center;
}

.content-header {
  height: 380px;
  background: url(../images/header.jpg);
  background-size: cover;
  color: #fff;
  font-size: 2.5em;
  position: relative;
}

.img {
  max-width: 300px;
  margin: 0 auto;
  display: block;
}

#title {
  font-size: 4em;
}

.parent-header {
  height: 500px;
}

.btn-primary {
  color: #fff;
}

#subtitle {
  text-align: center;
  font-size: 2em;
}

.gallery-content {
  text-align: center;
}

.content-inner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media (max-width: 600px) {
  #title {
    font-size: 3em;
  }
}

@media (max-width: 458px) {
  #title {
    font-size: 2.5em;
  }
}

@media (max-width: 401px) {
  #title {
    font-size: 2.5em;
  }
}
