.inner-header {
  text-align: center;
}

.header-video {

}

.img {
  max-width: 300px;
  margin: 0 auto;
  display: block;
}

#title {
  font-size: 4em;
}

.parent-header {
  height: 500px;
}

#subtitle {
  text-align: center;
  font-size: 2em;
}

.gallery-content {
  text-align: center;
}
